.ComponentPage {
  max-width: 900px;
  margin: 0 auto;

  h2 {
    margin-bottom: 16px;
  }

  & > div {
    .PropsContainer,
    .ComponentContainer {
      width: 100%;
      min-height: 25vh;
      border: 2px solid black;
      border-radius: 12px;
      padding: 16px;

      h3 {
        text-align: left;
        margin-top: 0;
        margin-bottom: 12px;
      }
    }

    .PropsContainer {
      margin-bottom: 32px;
      text-align: center;

      & > div {
        display: flex;
        margin-bottom: 8px;

        input,
        select,
        textarea {
          border: 1px solid black;
          border-radius: 2px;
          padding: 4px;
          font-size: 1rem;
          background-color: white;

          &:nth-last-child(2) {
            flex-grow: 1;
          }

          &:not(:nth-last-child(2)) {
            max-width: 200px;
          }
        }

        input,
        select {
          height: fit-content;
        }

        textarea {
          height: 150px;
        }

        .DeleteButton {
          width: 28px;
          min-width: 28px;
          height: 28px;
          min-height: 28px;
          line-height: 28px;
          text-align: center;
          vertical-align: middle;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
          border-radius: 14px;

          &:hover:not(:disabled) {
            cursor: pointer;
            background-color: white;
            border-width: 2px;
            line-height: 26px;
            font-weight: bold;
          }

          &:hover:disabled {
            cursor: not-allowed;
          }
        }

        & > *:not(button) {
          width: 50%;

          &:not(:last-child) {
            margin-right: 12px;
          }
        }
      }

      .AddButton {
        width: fit-content;
        margin-top: 32px;
        padding: 0 12px;
        height: 1.8rem;
        min-height: 1.8rem;
        line-height: 1.8rem;
        font-size: 1rem;
        border-radius: 1.8rem;
        background-color: #283593;
        color: white;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
