@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e8eaf6;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

$nav-height: 4.5rem;

.MainNav {
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #283593;
  color: white;

  h1 {
    font-size: 1.8rem;
  }

  nav {
    ul {
      list-style-type: none;

      li {
        display: inline-block;

        a {
          display: block;
          padding: 12px;
          color: white;
          text-decoration-style: underline;
          font-size: 1rem;

          &:hover {
            text-decoration-style: double;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    text-align: center;
    padding: 16px;
    height: $nav-height + 2rem + 0.8rem;

    h1 {
      font-size: 1.4rem;
    }
  }
}

.MainContent {
  width: fit-content;
  max-width: 700px;
  margin: 0 auto;
  padding: 24px;
}
